body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(187, 187, 245);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gym-logo {
  position: relative;
  left: 45%;
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
  margin-left: 16px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background: rgb(187, 187, 245);
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 26);
  perspective: 1000px;
}

.form {
  width: 400px;
  padding: 20px;
  background: rgb(187, 187, 245);
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 26);
  perspective: 1000px;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  background-size: cover;
  padding: 5px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  padding: 3px;
  font-size: 12px;
}

input,
textarea {
  width: 100%;
  max-width: 370px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}


button {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 20px 0 10px;
  height: 35px;
  font-size: 12px;
  border-radius: 25px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  color: #000;

}

.submit-btn {
  position: relative;
  color: #000;
}

.submit-btn::after {
  content: '\27a4';
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

button:hover {
  background-color: #076d86;
}

@media screen and (max-width: 480px) {
  .form {
    width: 90%;
  }
}